---
---
$width: 100%;

html {
  background-color: #e2dfe5;
}

body {
  font-family: 'OratorStd', sans-serif;
  font-size: 15px;
  &.site-body {
    display: flex;
    min-height:  calc(100vh - 52px);
    flex-direction: column;
  }
}

// /* lato-regular - latin */
// @font-face {
//   font-family: 'Lato';
//   font-style: normal;
//   font-weight: 400;
//   src: url('../fonts/lato-v16-latin-regular.eot'); /* IE9 Compat Modes */
//   src: local('Lato Regular'), local('Lato-Regular'),
//        url('../fonts/lato-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('../fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
//        url('../fonts/lato-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
//        url('../fonts/lato-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
//        url('../fonts/lato-v16-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
// }

@font-face {
    font-family: OratorStd;
    src: url("../fonts/OratorStd.otf") format("opentype");
}

.site-content {
  flex: 1;
}

#parentSection {
  @media only screen and (max-width: 767px) {
    padding: 0;
  }
}

#mainSection {
  padding: 1.5rem 2.5rem;

  .name-and-title {
    margin-bottom: 15px;
    padding: 50px 0;
    @media only screen and (max-width: 767px) {
      padding: 40px 0 10px 0;
    }

    .full-name {
      text-align: center;
    }
  }
}

#mainContainer {
  background-color: #303030;
  color: #ffd93c;
  max-width: 768px;
  @media only screen and (min-width: 768px) {
    border-radius: 25px;
  }

  #logo {
    justify-content: center;
    display: flex;
    margin-bottom: 15px;

    img {
      max-width: 380px;
      height: auto;
    }
  }

  .photo-column {
    justify-content: center;
    display: flex;
    padding-bottom: 30px;

    #photo {
      width: 180px;
      height: 180px;
    }
  }
}

#contact {
  text-align: center;
  font-size: 18px;

  ul{
    li {
      margin-bottom: 12px;
    }
  }
  .social-media {
    &.facebook {
      margin: 0 15px;
    }

    &.linkedin {
      margin-left: 15px;
    }

    img {
      height: 30px;
      width: 30px;
    }

  }
  .email {
    a {
      color: #ffd93c;
      text-decoration: underline
    }
  }

  .phone {
    margin-bottom: 18px;
  }
}

h1 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}
