---
title: Petitas
layout: default
---

<section id="parentSection" class="section">
  <div class="container is-max-desktop" id="mainContainer">
    <section class="section" id="mainSection">
      <figure id="logo" class="image">
        <img src="/assets/petitas_logo.png">
      </figure>

      <div class="columns">
        <div class="column name-and-title">
          <div class="full-name">
            <h1>CAMILLE FABBRO</h1>
            <h3>Créatrice de vidéos</h3>
          </div>
        </div>
        <div class="column photo-column">
          <figure id="photo" class="image is-128x128">
            <img class="is-rounded" src="/assets/camille.jpg">
          </figure>
        </div>
      </div>

      <section id="contact">
        <ul>
          <li>Toulouse et Gers (France)</li>
          <li class="email"><a href="mailto:contact@petitas.fr">contact@petitas.fr</a></span></li>
          <li class="phone">07 66 25 69 41</li>
          <li>
            <a href="{{ site.url }}/assets/camille_fabbro_cv.pdf" class="social-media" target="_blank" title="Télécharger mon CV">
              <img src="/assets/svg/cv.svg" />
            </a>

            <a href="https://www.instagram.com/petitas.fr/" class="social-media linkedin" target="_blank" title="Instagram">
              <img src="/assets/svg/instagram.svg" />
            </a>

            <a href="https://www.facebook.com/petitas.fr" class="social-media facebook" target="_blank" title="Facebook">
              <img src="/assets/svg/facebook.svg" />
            </a>

            <a href="https://www.linkedin.com/in/camille-fabbro-b2a75b208/" class="social-media" target="_blank" title="Linkedin">
              <img src="/assets/svg/linkedin.svg" />
            </a>
          </li>
        </ul>
      </section>
    </section>
  </div>
</section>
